name: main

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # https://nodejs.org/en/about/previous-releases

    steps:
    - name: checkout goat-es
      uses: actions/checkout@v4
      with:
        submodules: "true"
        path: goat-es

    - name: checkout goat
      uses: actions/checkout@v4
      with:
        repository: avos-io/goat
        branch: sam/update-deps
        submodules: "true"
        path: goat
        
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: goat-es/package-lock.json

    - name: Cache bootstrap files
      id: cache-bootstrap
      uses: actions/cache@v3
      with:
        path: |
          internal/.bin
          internal/dprint
        key: ${{ runner.os }}-bootstrap
    
    - name: npm + deps + code gen
      working-directory: goat-es
      run: |
        npm ci
        npm run bootstrap
        npm run gen

    - name: lint
      working-directory: goat-es
      run: |
        npm run eslint
        npm run format:check
        npm run tsc

    - name: unit tests
      run: npm test
      working-directory: goat-es

    - name: Setup Golang with cache
      uses: magnetikonline/action-golang-cache@v3
      with:
        go-version: 1.24

    - name: Install Task
      uses: arduino/setup-task@v1

    - name: Goat-Go bootstrap
      working-directory: goat
      run: |
        scripts/bootstrap
        .bin/mockery --log-level=debug
        echo "done with mockery, now task-gen"
        task gen

    - name: integration tests
      run: |
        cd goat
        go run cmd/e2e-websocket-test/main.go localhost:9043 & 
        cd ..
        # Give some time for the build above to complete and the process to listen on a port
        while ! nc -z localhost 9043; do sleep 0.1; done
        cd goat-es
        E2E_TEST_ADDR=ws://localhost:9043/test npm run test:integration
        kill %1
      
